*{
	margin: 0;
	padding: 00;
}

  body { 

            font-family: Arial;
            background: linear-gradient(-45deg, #eeff01, #e73c3c, #23a6d5, #23d5ab);
            background-size: 400% 400%;
            animation: gradient 15s ease infinite;
            color: rgb(255, 255, 255);
            padding-left: 1.5rem;
            padding-right: 1.5rem;}
            @keyframes gradient {
                0% {
                    background-position: 0% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                100% {
                    background-position: 0% 50%;
                }
            }

  .navbar{
    padding-top: 25px;
  }
  nav {
   position: relative;
   width: calc(100% - 60px);
   margin: 0 auto;
   background: #000000;
   z-index: 1;
   text-align: right;
   padding-right: 2%;
  }
  .logo {
    width: 25%;
    float: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    text-align: left;
    padding: 10px 25px;
  }
  .menu-area li {
    display: inline-block;
      list-style-type: none;
  }
  .menu-area a {
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 15px 25px;
    font-size: 16px;
    line-height: 30px;
    position: relative;
    z-index: 1;
      text-decoration: none;    
  }
  .menu-area a:hover {
    background: deeppink;
    color: #fff;
  }
  nav:before {
    position: absolute;
    content: '';
    border-top: 10px solid #333;
    border-right: 10px solid #333;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 100%;
    left: 0;
  }
  nav:after {
    position: absolute;
    content: '';
    border-top: 10px solid #333;
    border-left: 10px solid #333;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 100%;
    right: 0;
  }
h1{
    
    text-align: center;
    border-top: 400px;
    font-size: 56px;
    font-weight: 1500;
    word-spacing: 12px;
    color: white
  }
.entry-content{
   
    text-align: center;
    font-size: 46px;
    font-style: italic;
    font-weight: 700;
    font-family: "Comic Sans MS", cursive, sans-serif;

}
.has-text-align-center-has-huge-font-size{
    text-align: center;
   font-size: 72px;
}
h2{
  
  text-align: center;
  font-size: 36px;
  font-style: italic;
  color: white
}
.project{
  text-align: center;
  font-size: 48px;
  color: red
}
.doboz{ 
  width: 70%;
  font-size: 2.5rem;
  text-align: center;
  
    
}
.form{
  text-align: center;
  margin-left: 2rem;
  font-size: 2rem;
}
img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.cvcontainer {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 100vh;
}

.cvbox {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}

.cvbox > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: .5s;
}

.cvbox > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.cvbox:hover { flex: 1 1 50%; }
.cvbox:hover > img {
  width: 100%;
  height: 100%;
}
 